# Virtual environment
myenv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Database
*.db
*.sqlite

# Logs
*.log

# Environment variables
.env
.env.local

# Alembic
alembic.ini
alembic/
